<div class="navbar navbar-inverse ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">YoQuiero</a>
    </div>
    <div class="navbar-collapse collapse" id="searchbar" >

      <ul class="nav navbar-nav navbar-right">
        <li id="userPage">
          <a href="#@userpage"><i class="icon-user"></i> Usuário</a>
        </li>
        <li><a href="#logout" data-prevent="">Logout</a></li>
      </ul>

     <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group" style="display:table;" ng-controller="anuncioController">
            <input class="form-control" name="search" placeholder="Pesquisar por ..." autocomplete="off" autofocus="autofocus" type="text" ng-model="search" ng-keyup="$event.keyCode == 13 ? buscar() : null" >
            <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search" ng-click="buscar()"></span></span>
          </div>
        </div>
      </form>

    </div><!--/.nav-collapse -->
  </div>
</div>
